<!doctype html>

<html lang="en">
	<head>
  		
  		<meta charset="utf-8">
  		<title>Yummy Tummy</title>
 		
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
		
		<link rel='stylesheet' type='text/css' href='../static/css/styles.css'>

	</head>

	<body>
		
		<nav class="navbar navbar-default navbar-static-top">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand text" href="#"><b>Yummy Tummy</b></a>
		    </div>
		</nav>

		<div class = "container">
			<h1>About Yummy Tummy</h1>
			<h2>Who We Are:</h2>
				<ul class ="text-about">
				  <li>Our names are Carlos, Anna, Santiago and Daryl.</li>
				  <li>We are Boston University students.</li>
				</ul>
				<h2>What We Did:</h2>
				<ul class ="text-about">
				  <li>Scrapped an entire Parse database filled consisting of more than a 1000 entries.</li>
				  <li>Analyzed Boston University's entire dining hall web-system 
				  	scraping ingridient information.</li>
				  <li>Developed an algorithm that tailors dining suggestions based on location, dining time and personal taste.</li>
				  <li>Set-up a website for the data-visualization</li>
				</ul>
				<h2>What We Used:</h2>
				<ul class ="text-about">
				  <li>Parse as a database solution.</li>
				  <li>Python for the main algorithm.</li>
				  <li>Flask for the back-end.</li>
				  <li>JQuery, CanvasJS and Bootstrap for the front-end.</li>
				</ul>
				<h2>How We Did It:</h2>
				<p class="text-center text-about">We used the data gathered by the BU Food application.BU Food App lets our fellow Boston University students to see what's currently available in the dining halls. It also allows to keep track of the nutritional value of the food in the dining halls.  With the amount of choices available in the dining halls and with the data we're already have we could build a great food recommendation engine to help the user. By recommending personally tailored items, the YummyTummy engine not only recognizes what users eat, but when they eat it, how often, and which ingridients they most enjoy.</p>
		</div><br>

		<div class="container">
			<h1>Graphical Representation of Our Data</h1>
			<table class="table table-hover">
			   <thead>
			      <tr>
			         <th>Name</th>
			      </tr>
			   </thead>
			   <tbody>
			      <tr>
			         <td>Santiago Beltran</td>
			      </tr>
			      <tr>
			         <td>Alexandra Creed</td>
			      </tr>
			      <tr>
			         <td>Abbey Kaelberer</td>
			      </tr>
			      <tr>
			         <td>Ashley Reischman</td>
			      </tr>
			   </tbody>
			</table>
			<button id="button">Click Me!</button>
		</div>

		<div class = "container">
			<div id="frequency" style="height: 500px; width: 100%;"></div>
		</div>
		
		<!--<div class = "container">
			<div id="frequency" style="height: 500px; width: 100%;"></div>
		</div> -->
		


		<div class="row">
		  <div class="col-md-6"><div id="frequency1"></div></div>
		  <div class="col-md-6"><div id="frequency2"></div></div>
		</div>
	  
	<script type="text/javascript" src="../static/js/CanvasJS/jquery.canvasjs.min.js"></script>
	<script src="../static/js/script.js"></script>
	  
	</body>


</html>