<!doctype html>

<html lang="en">
	<head>
  		
  		<meta charset="utf-8">
  		<title>Yummy Tummy</title>
 		
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
		
		<link rel='stylesheet' type='text/css' href='../static/css/styles.css'>

	</head>

	<body>
		
		<nav class="navbar navbar-default navbar-static-top">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand text" href="#"><b>Yummy Tummy</b></a>
		    </div>
		</nav>

		<div class = "container">
			<b><h1>About Yummy Tummy:</h1>
			<p class="text-center text">Using the data from the current BU Food App, which allows our fellow Boston University students to see what's available in the dining halls and keep track of what they eat for nutrition, we figured that the amount of choices available in the dining halls and the data we're collecting could be used to build a food recommendation engine to enhance the user experience. By recommending personally tailored items, the YummyTummy engine not only recognizes what users eat, but when they eat it, how often, and what tastes they most enjoy. The data is then used to recommend the most delicious dish for that user based on any menu they pick.</p></b>
		</div><br>

		<div class="container">
			<table class="table table-hover">
			   <thead>
			      <tr>
			         <th>Name</th>
			      </tr>
			   </thead>
			   <tbody>
			      <tr>
			         <td>Femke Hermse</td>
			      </tr>
			      <tr>
			         <td>Alexandra Creed</td>
			      </tr>
			      <tr>
			         <td>Abbey Kaelberer</td>
			      </tr>
			      <tr>
			         <td>Ashley Reischman</td>
			      </tr>
			      <tr>
			         <td>Santiago Beltran</td>
			      </tr>
			      <tr>
			         <td>Kylie Obermeier</td>
			      </tr>
			      <tr>
			         <td>Erin Dail</td>
			      </tr>
			      <tr>
			         <td>Fu Bedard</td>
			      </tr>
			      <tr>
			         <td>Andrew Klufas</td>
			      </tr>
			      <tr>
			         <td>Madison Alspector</td>
			      </tr>
			   </tbody>
			</table>
		</div>

		<div class = "container">
			<div id="frequency1" style="height: 500px; width: 100%;"></div>
		</div>
		
		<div class = "container">
			<div id="frequency" style="height: 500px; width: 100%;"></div>
		</div>
		


		<div class="row">
		  <div class="col-md-6"><div id="frequency1"></div></div>
		  <div class="col-md-6"><div id="frequency2"></div></div>
		</div>
	  
	<script type="text/javascript" src="../static/js/CanvasJS/jquery.canvasjs.min.js"></script>
	<script src="../static/js/script.js"></script>
	  
	</body>


</html>